.background {
  width: 100%;
   border-top: 1px solid #88888866;
  padding-block: 70px;
}
.backgroundData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.tag {
  text-transform: uppercase;
  font-size: 11px;
  color: #888888;
  opacity: .8;
  letter-spacing: 2px;
  font-family: "Jetbrains Mono" ,sans-serif;
}
.backgroundData h1 {
  font-size: 80px;
  font-family: "Instrument Serif" ,sans-serif;
  font-style: italic;
}
.data {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-top: 55px;
}
.data .left {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tag span:first-child {
height: 30px;
width: 30px;
border-radius: 50%;
border: 3px solid #ff0000;
}
.tag span:last-child {
  height: 170px;
  width: 1px;
  background-color: #ff0000;
}

.tag:last-child span:last-child {
  opacity: .8;
}

.data .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  bottom: 25px;
}
.experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.experience .date {
 font-size: 11px;
 font-family: "Jetbrains Mono" ,sans-serif;
 color: #888888;
 opacity: .7;
 letter-spacing: 1px;
}

.experience .title {
  font-family: "Instrument Serif" ,sans-serif;
  font-size: 23px;
  font-style:italic;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -.5px;
}
.experience .subtitle {
  font-family: "Outfit" ,sans-serif;
 font-weight: 400;letter-spacing: .5px;
 color: #888888;
 letter-spacing: -.5px;
 font-size: 18px;
 position: relative;
 bottom: 5px;
}
.experience .desc {
  color: #888888;
  font-family: "Outfit" ,sans-serif;
  margin-top: 5px;
}


@media screen and (max-width : 1265px) {
  .background {
    padding-inline: 50px;
  }
}
@media screen and (max-width : 810px) {
  .backgroundData h1 {
    font-size: 60px;
  }
  .tag span:last-child {
    height: 200px;
  }
}
@media screen and (max-width : 660px) {
  .backgroundData h1 {
    font-size: 50px;
  }
  .tag span:last-child {
    height: 230px;
  }
}
@media screen and (max-width : 560px) {
  .background {
    padding-inline: 40px;
  }
  .backgroundData h1 {
    font-size: 55px;
  }
  .tag span:last-child {
    height: 260px  };
}
@media screen and (max-width : 480px) {
  .backgroundData h1 {
    font-size: 45px;
  }
  .tag span:last-child {
    height: 290px;
  }
}
@media screen and (max-width : 420px) {
  .backgroundData h1 {
    font-size: 40px;
  }
  .tag span:last-child {
    height: 330px;
  }
}
