footer {
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: nowrap;
  border-top: 1px solid #888888;
  overflow-x: hidden;
}
.footerLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footerLinks a {
font-family:"Jetbrains Mono" , sans-serif;
color: #888888;
text-transform: uppercase;
font-size: 11px;
font-weight: 600;
letter-spacing:1px;
}
.footerLinks a:hover {
  color: #ff0000;
}
.availableTag {
  position: absolute;
  bottom: 30px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.scanDot {
  height: 6px;
  width: 6px;
  background-color: green;
  border-radius: 50%;
  animation: pulse .7s ease infinite alternate;
  transition: all .3s ease;
}
@keyframes pulse {
  0% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    filter: brightness(2);
  }
}
.availableTag p {
font-family:"Jetbrains Mono" , sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #888888;
}
