.heroSection {
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: 100vh;
}

.top {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  height: 70vh;
}

.banner {
  position: relative;
  height: 100%;
  overflow: hidden; /* ensures image and overlap stay inside */
}

.bannerImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(0.8);
}

.overlap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(13, 13, 13, 0.96);
  backdrop-filter: blur(24px);
  font-size: clamp(24px, 12vw, 120px);
  font-weight: 800;
  font-family: "Instrument Serif" !important;
  letter-spacing: 0.05em;
  transition: all 0.9s ease;
}

.overlap h1 {
  font-size: 140px;
}
.banner:hover .overlap {
  left: 400px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  position: relative;
  top: 30px;
}

.bottom span {
  font-family: "Jetbrains Mono", sans-serif;
  color: #888888;
}
