.heroSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.top {
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 🔒 ensures everything stays inside */
}

.bannerImg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlap {
  position: absolute;
  inset: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(13, 13, 13, 0.96);
  backdrop-filter: blur(24px);

  will-change: transform;
  transition: all .8s ease;
}

.overlap h1 {
  font-size: clamp(60px, 12vw, 140px);
  font-weight: 800;
  font-family: "Instrument Serif", serif;
  /* font-style: italic;  */
  letter-spacing: 0.08em;
}

.banner:hover .overlap {
  left: 400px;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #888;
  font-family: "JetBrains Mono", monospace;
  margin-top: 20px;
}


.bottom span {
  font-family: "Jetbrains Mono", sans-serif;
  color: #888888;
}


@media screen and (min-width :810px ) and (max-width : 1080px) {
  .overlap h1 {
    font-size: 100px;
  }
}
@media screen and (max-width : 810px) {
 .overlap h1 {
  font-size: 80px;
 }
}

@media screen and (max-width :480px) {
  .overlap h1 {
    font-size: 60px;
  }
  .bottom {
    top: 0;
  }
}
