
.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.heroBanners {
  height: 70vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, auto);
  flex-wrap: nowrap;
  overflow: hidden;
}
.heroBanners .banner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.bannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
.overlap {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
    transition: all .7s ease;
      background: rgba(13, 13, 13, 0.96);
  backdrop-filter: blur(24px);

}
.overlapTxt {
  animation: pulse 3s ease-in-out infinite;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 124px;
  text-transform: uppercase;
  font-family:"Instrument Serif" ,sans-serif ;
}

.banner:hover .overlap {
  left: 400px;
}
@keyframes pulse {
  0% {
    color: #fff;
    font-style: normal;
        border-bottom: 1px solid red;
        font-weight: 900;
  }
  100% {
    color: red;
    font-style: italic;
    font-weight: 400;
    border-color: transparent;
  }
}

.heroLights {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  margin-top: 75px;
}
.heroLights span {
  font-family: "Jetbrains Mono" ,sans-serif;
  color: #888888;
  line-height: 1.5;
}


@media screen and (min-width :810px ) and (max-width : 1080px) {
  .overlap .overlapTxt {
    font-size: 100px;
  }
}
@media screen and (max-width : 810px) {
 .overlap .overlapTxt {
  font-size: 80px;
 }
}

@media screen and (max-width :480px) {
  .overlap .overlapTxt {
    font-size: 60px;
  }
}
