.preloader {
  position: fixed;
  inset: 0;
  background: #0b0b0e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logo {
  display: flex;
  gap: 10px;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 4px;
  color: #ffffff;
  font-family: "Instrument Serif", sans-serif;

}

.logo span {
  display: inline-block;
}

.loading {
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-family: "Jetbrains Mono";
}
