.projectsSection {
  width: 100%;
 border-top: 1px solid #88888866;
  padding-block: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  overflow: hidden;
  position: relative;
}
.projectGuide{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50% , -50%);
   background-color: #000;
   padding: 5px 12px;
  border-radius: 99px;
  border: 1px solid rgb(63, 63, 63);
}
.projectGuide article {
  font-family: "Jetbrains Mono" ,sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
.projectsHeader {
  display: flex;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px 30px;
}
.projectsHeader h1 {
  font-size: 80px;
  font-family: "Instrument Serif" ,sans-serif;
  font-style: italic;
  letter-spacing: -.5px;
}
.projectsHeader .filterBtns {
  display: flex;
  align-items: center;
 gap: 15px;
 overflow: hidden;
 padding: 2px;
}
.filterBtns .filterBtn {
  font-size: 12px;
  font-family: "Jetbrains Mono" ,sans-serif;
  letter-spacing: 1px;
  color: #888888;
  text-transform: uppercase;
  padding: 8px 16px;
  margin: 0;
  border-radius: 999px;
  font-weight: 600;
}

.filterBtns .filterBtn:hover {
  border: 2px solid #fff;
  color: #fff;
}

.filterBtns button.active {
  background-color: #fff;
  color: #000;
}
.projectsWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scroll-behavior: smooth !important;
  scrollbar-height: thin;
  padding-bottom: 30px;
 position: relative;
 left: 30px;
 margin-top: 40px;
}
.projectsWrapper::-webkit-scrollbar {
  height: 2px;
}

.projectsWrapper::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.projectsWrapper::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

.projectsWrapper::-webkit-scrollbar-thumb:hover {
  background: #f0f0f0;
}

.project {
  height: 350px;
  width: 450px;
  flex-shrink: 0;
  position: relative;
  perspective: 1400px;
   background: rgba(13, 13, 13, 0.96);
}


.skyDoor {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  margin-bottom: 25px;
  perspective: 1200px;
  z-index: 10;
}

.doorLeft,
.doorRight {
  width: 50%;
  height: 100%;
 background: rgba(13, 13, 13, 0.96);
 backdrop-filter: blur(45px);
  border: 2px solid #88888866;
  border-radius: 6px;
  position: absolute;
  top: 0;
  transition:
    transform 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    box-shadow 0.5s;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  z-index: 2;
}

.doorLeft {
  left: 0;
  transform-origin: left center;
}

.doorRight {
  right: 0;
  transform-origin: right center;
}
.skyDoor:hover .doorLeft {
  transform: rotateY(-120deg);
  box-shadow:
    inset 0 0 30px rgba(0, 0, 0, 0.2),
    0 15px 30px rgba(0, 0, 0, 0.3);
}
.skyDoor:hover .doorRight {
  transform: rotateY(120deg);
  box-shadow:
    inset 0 0 30px rgba(0, 0, 0, 0.2),
    0 15px 30px rgba(0, 0, 0, 0.3);
}

.doorHandle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background: radial-gradient(circle at 30% 30%, #ffd700, #b8860b); */
  background-color: #fff;
  border: 1px solid #000;
  box-shadow:
    inset -2px -2px 4px rgba(0, 0, 0, 0.3),
    2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: handle-shine 3s infinite alternate;
}

.doorLeft .doorHandle {
  right: 15px;
}
.doorRight .doorHandle {
  left: 15px;
}

@keyframes handle-shine {
  0% {
    box-shadow:
      inset -2px -2px 4px rgba(0, 0, 0, 0.3),
      2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow:
      inset -1px -1px 6px rgba(255, 255, 200, 0.5),
      2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow:
      inset -2px -2px 4px rgba(0, 0, 0, 0.3),
      2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.doorContent {
 width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 70% 30%;
  align-items: center;
  gap: 5px;
  transition:
    opacity 0.4s ease 0.4s,
    transform 0.4s ease 0.4s;
    padding: 10px;
}

 .projectShot {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  position: relative;
  padding-inline: 10px;
}

.doorContent h1 {
font-family: "Instrument Serif" , sans-serif;
font-size: 25px;
font-style:normal;
font-weight: bold;
}


.projectInfo p {
  font-size: 14px;
  font-family: "Outfit" ,sans-serif;
  line-height: 1.1;
}

@media  screen and (max-width : 700px) {
  .projectsHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .projectsHeader h1 {
    font-size: 60px;
  }
  .projectsSection {
    padding-block: 40px;
  }
  .project {
    height: 320px;
    width: 400px;
  }
}
@media screen and (max-width : 520px) {
  .project {
    width: 380px;
  }
  .projectsWrapper {
    gap: 40px;
    left: 30px;
  }
  .projectsHeader {
    padding-inline: 20px;
  }
  .projectsHeader h1 {
    font-size: 50px;
  }
  .projectGuide {
    display: none;
  }
}
