.projectsSection {
  width: 100%;
  border-top: 1px solid #888888dc;
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  overflow: hidden;
}
.projectsHeader {
  display: flex;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px 30px;
}
.projectsHeader h1 {
  font-size: 80px;
  font-family: "Instrument Serif" ,sans-serif;
  font-style: italic;
  letter-spacing: -.5px;
}
.projectsHeader .filterBtns {
  display: flex;
  align-items: center;
 gap: 15px;
 overflow: hidden;
 padding: 2px;
}
.filterBtns .filterBtn {
  font-size: 12px;
  font-family: "Jetbrains Mono" ,sans-serif;
  letter-spacing: 1px;
  color: #888888;
  text-transform: uppercase;
  padding: 8px 16px;
  margin: 0;
  border-radius: 999px;
}

.filterBtns .filterBtn:hover {
  border: 2px solid #ff0000;
  color: #ff0000;
}

.filterBtns button.active {
  background-color: #ff0000;
  color: #000;
}
.projectsWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 60px;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scroll-behavior: smooth !important;
  scrollbar-height: thin;
  padding-bottom: 20px;
 position: relative;
 left: 30px;
 margin-top: 40px;
}
.projectsWrapper::-webkit-scrollbar {
  height: 2px;
}

.projectsWrapper::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.projectsWrapper::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 5px;
}

.projectsWrapper::-webkit-scrollbar-thumb:hover {
  background: #f0f0f0;
}

.project {
  height: 450px;
  width: 650px;
  flex-shrink: 0;
  position: relative;
}
.project .projectShot {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position:absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(44px);
  opacity: 0;
  transition: all .4s ease;
}
.projectInfo h1 {
font-family: "Instrument Serif" , sans-serif;
font-size: 48px;
font-style: italic;
}
.project:hover .projectInfo {
 opacity: 1;
}


@media  screen and (max-width : 700px) {
  .projectsHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .projectsHeader h1 {
    font-size: 60px;
  }
  .projectsSection {
    padding-block: 40px;
  }
  .project {
    height: 320px;
    width: 400px;
  }
}
@media screen and (max-width : 520px) {
  .project {
    width: 350px;
  }
  .projectsWrapper {
    gap: 40px;
    left: 30px;
  }
  .projectsHeader {
    padding-inline: 20px;
  }
  .projectsHeader h1 {
    font-size: 40px;
  }
}
