/* skills section */
.skillsSection {
  width: 100%;
  border-top: 1px solid #888888dc;
  padding-block: 50px;
}
.skillsSectionData {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
  flex-shrink: 0;
  padding-block:50px;
}
.tag {
  font-size: 11px;
  text-transform: uppercase;
  color: #888888;
  opacity: .7;
  letter-spacing: 2px;
  font-family: "Jetbrains Mono" ,sans-serif;
  margin-bottom: 10px;
}

.skillsSection .title {
  font-size: 80px;
  font-family: "Instrument Serif";
  font-style: italic;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.skillsData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.skillsData ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.skillsData ul h2 {
  font-size: 20px;
  margin-bottom: 15px;
  font-family: "Instrument Serif";
  color: #ff0000;
  font-style: italic;
}
.skillsData ul li {
  font-size: 16px;
  font-family: "Inter";
  color: #888888;
  font-weight: 400;
  letter-spacing: .2px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
