@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*,
*::after ,
* ::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --background : #000000;
  --txt-color : #ffffff;
  --heading-font : 'Instrument Serif';
}
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
display: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
html ,
body {
  height: 100%;
  -ms-overflow-style: none;
}
body {
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: var(--background);
  color: var(--txt-color);
  overflow-x: hidden;

}

::selection {
  background-color: #ff0000;
  color: #fff;
}

img , picture, video , canvas , svg {
  display: block;
  max-width: 100%;
}
input , textarea , select {
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
}

ul[role = 'list '] , ol[role = "list"] , li[role = "list"] {
  list-style: none;
  outline: none;
}
h1 , h2 , h3 , h4 , h5 , h6 {
  margin: 0;
  line-height: 1;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
}
button:disabled {
  cursor: not-allowed;
  opacity: .6;
}
label {
  cursor: pointer;
}

@media (prefers-reduced-motion:reduce) {
html:focus-within {
  scroll-behavior: smooth;
}
}

